docs/Assistente Pessoal.json
{
  "name": "Assistente Pessoal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "beta1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        48
      ],
      "id": "efbca63e-ee01-443f-8bf0-badb50405f51",
      "name": "Webhook",
      "webhookId": "f0f6e4e7-cfff-45e6-8c15-7863cb1b3028"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "08fd0c80-307e-4f45-b1de-35192ee4ec5e",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "b7b64446-f1ea-4622-990c-22f3999a8269",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "202af928-a324-411a-bf15-68a349e7bf9e",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c63299e9-6069-4bc6-afb9-7beebf6e3d69",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "documentMessage"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "2e7710c2-159d-4c00-9e05-a96fed84ec06",
      "name": "Input type",
      "type": "n8n-nodes-base.switch",
      "position": [
        192,
        0
      ],
      "typeVersion": 3.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "math1",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}",
        "convertToMp4": true
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        560,
        144
      ],
      "id": "16c7a6b7-2a04-4d7d-8a51-d32ef3aec013",
      "name": "Evolution API1",
      "credentials": {
        "evolutionApi": {
          "id": "SIFKXO34kQOEH6zP",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base64 = $input.first().json.data.base64;\n\n// Remove prefixo, se houver\nconst base64Clean = base64.replace(/^data:audio\\/\\w+;base64,/, '');\n\nreturn {\n  binary: {\n    audio: {\n      data: Buffer.from(base64Clean, 'base64'),\n      mimeType: 'audio/mpeg',\n      fileName: 'audio.mp3',\n    }\n  },\n  json: {}\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        144
      ],
      "id": "fd83304a-2a0a-438c-88d3-48d4e625c5cb",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        832,
        144
      ],
      "id": "24d10bd1-f784-49aa-ae42-4fbfa7288dd6",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "81pLBecG9qxYeq1L",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mensagem = $('Webhook').first().json.body.data.key.remoteJidAlt;\n\nvar resposta = mensagem.split(\"@\")[0]\n\nreturn {\n  resposta\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        48
      ],
      "id": "ab90dfec-3c37-4da2-962b-d0c437162864",
      "name": "SplitNumero"
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1952,
        48
      ],
      "id": "a79cfcb6-3e50-4ba3-846a-68ade868aa7a",
      "name": "Wait",
      "webhookId": "da18230e-a07e-4f67-a41d-3bda3e592e90"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eda794e0-6f76-48f2-8cd2-d44bca75ef23",
              "name": "Mensagem",
              "value": "={{ $item(\"0\").$node[\"Code in JavaScript\"].json[\"texto_unificado\"] }}",
              "type": "string"
            },
            {
              "id": "0a2078b5-a0d0-4424-b492-a6fb172ab3cc",
              "name": "From",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        48
      ],
      "id": "609422c3-4d6f-4469-82ae-dc66098ea741",
      "name": "MensagemWebhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    u.id as user_id, \n    u.account_id, \n    u.name, \n    u.role \nFROM users u\nJOIN accounts a ON u.account_id = a.id\nWHERE \n    (\n        -- Opção 1: Tenta casar o número exatamente como veio da API (sem 9)\n        u.phone_number = '{{ $json.resposta }}'\n        OR\n        -- Opção 2: Tenta casar inserindo o '9' depois do DDD (posição 4)\n        u.phone_number = CONCAT(\n            SUBSTRING('{{ $json.resposta }}', 1, 4), -- 5579\n            '9', \n            SUBSTRING('{{ $json.resposta }}', 5)     -- resto do numero\n        )\n    )\n    AND u.status = 'active'\n    AND a.status IN ('active', 'trial');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -32,
        48
      ],
      "id": "b3c569bf-8f88-4067-acae-9ebc2a7f1310",
      "name": "Porteiro",
      "credentials": {
        "mySql": {
          "id": "22FBBvkayrnkonK1",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=buffer:{{ $item(\"0\").$node[\"SplitNumero\"].json[\"resposta\"] }}",
        "messageData": "={{ $json.Mensagem }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1728,
        48
      ],
      "id": "f254b8d4-341a-4dc0-9030-c8a9f389109f",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "9NqJ9sRCdOgovjrY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51598112-e4a0-4f88-aac2-45c032d5caac",
              "name": "texto_completo",
              "value": "={{ $json[\"propertyName\"].join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        48
      ],
      "id": "0328ade5-a3cf-4a55-9085-6633cbcd1031",
      "name": "Juntar Mensagens"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=buffer:{{ $item(\"0\").$node[\"SplitNumero\"].json[\"resposta\"] }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2368,
        48
      ],
      "id": "c7d8b043-2655-47b7-bd6a-3fa88b4fd683",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "9NqJ9sRCdOgovjrY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "math1",
        "remoteJid": "={{ $item(\"0\").$node[\"SplitNumero\"].json[\"resposta\"] }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4624,
        48
      ],
      "id": "82dce1b6-49ab-497e-a64b-eed043cb02a0",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "SIFKXO34kQOEH6zP",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "35b5299e-fcd8-47db-baad-09fc21cd7ec0",
              "leftValue": "={{ $node[\"Ler Lista (LRANGE)\"].json[\"propertyName\"] }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2752,
        48
      ],
      "id": "44901cea-ba13-40b2-972e-84e32c5c051b",
      "name": "ListaVazia"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=buffer:{{ $item(\"0\").$node[\"SplitNumero\"].json[\"resposta\"] }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2176,
        48
      ],
      "id": "1d3b8018-bbe1-48e7-ae32-36873082bb9a",
      "name": "Ler Lista (LRANGE)",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "redis": {
          "id": "9NqJ9sRCdOgovjrY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $item(\"0\").$node[\"Juntar Mensagens\"].json[\"texto_completo\"] }}",
        "options": {
          "systemMessage": "=# 🤖 SYSTEM MESSAGE\n## ASSISTENTE FINANCEIRO INTELIGENTE (MATHEUS & JIMMY)\n\nVocê é o **cérebro de um Assistente Financeiro SaaS**.  \nSua missão é **gerenciar finanças, agenda e lembretes via WhatsApp**, com **100% de precisão, confiabilidade e agilidade**.\n\n---\n\n## 🚨 1. GABARITO DE TEMPO (PRIORIDADE MÁXIMA)\n\n- **HORÁRIO REAL AGORA:**  \n  `{{ $now.setZone('America/Sao_Paulo').toFormat('HH:mm:ss') }}`\n\n- **DATA DE HOJE:**  \n  `{{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd') }}`  \n  (`{{ $now.setZone('America/Sao_Paulo').toFormat('EEEE') }}`)\n\n---\n\n## ⚠️ PROTOCOLO EXCLUSIVO PARA LEMBRETES  \n### Tool: `adicionar_lembrete`\n\n### Regra Absoluta\n- A regra do **meio-dia (12:00:00)** está **TERMINANTEMENTE PROIBIDA** para lembretes.\n\n### Ponto de Partida\n- Sempre usar o **HORÁRIO REAL AGORA** como base.\n\n### Cálculo\n- “em X minutos” → somar X minutos ao horário real.\n- Exemplo:  \n  - Agora: **10:57:00**  \n  - “em 5 minutos” → **11:02:00**\n\n### Proibição\n- Jamais usar **12:00:00** como base para somar minutos em lembretes.\n- Meio-dia é **exclusivo para faturas/extratos sem horário**.\n\n---\n\n## 🎭 2. PERSONA E TOM DE VOZ\n\n### Perfil\n- Gerente de banco parceiro\n- Profissional, direto e eficiente\n\n### Estilo WhatsApp\n- Extremamente conciso\n- Nunca usar textos longos\n\n### Emojis\n- Uso moderado\n- Permitidos: 💰 📊 ✅\n\n### Sinceridade\n- Nunca inventar valores\n- Nunca estimar dados\n- Se a ferramenta falhar, informar que **não foi possível consultar no momento**\n\n---\n\n## ⏰ 3. CÁLCULO DE TEMPO RELATIVO (LÓGICA)\n\n### Regras Matemáticas\n- “daqui a pouco”, “em X minutos”, “mais tarde” → calcular horário exato\n- Sempre somar à **hora atual**\n\n### Padrões\n- **“Mais tarde”** → Hora atual + **2 horas**\n- **“Daqui a pouco”** → Hora atual + **30 minutos**\n\n---\n\n## 🗓️ 4. TABELA DE DATAS DINÂMICAS\n\n### 🔹 GRUPO 1 — ESTA SEMANA / LOGO AÍ\n> Usar quando o usuário disser:  \n> “essa sexta”, “nesta quinta”, “amanhã”, etc.\n\n- **HOJE:**  \n  `{{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd') }}`  \n  (`{{ $now.setZone('America/Sao_Paulo').toFormat('EEEE') }}`)\n\n- **AMANHÃ:**  \n  `{{ $now.setZone('America/Sao_Paulo').plus({days:1}).toFormat('yyyy-MM-dd') }}`  \n  (`{{ $now.setZone('America/Sao_Paulo').plus({days:1}).toFormat('EEEE') }}`)\n\n- **+2 DIAS:**  \n  `{{ $now.setZone('America/Sao_Paulo').plus({days:2}).toFormat('yyyy-MM-dd') }}`\n\n- **+3 DIAS:**  \n  `{{ $now.setZone('America/Sao_Paulo').plus({days:3}).toFormat('yyyy-MM-dd') }}`\n\n---\n\n### 🔹 GRUPO 2 — A PRÓXIMA / SEMANA QUE VEM\n> Usar **apenas** se o usuário disser:  \n> “PRÓXIMA sexta”, “semana que vem”\n\n- **PRÓXIMA SEMANA:**  \n  `{{ $now.setZone('America/Sao_Paulo').plus({days:7}).toFormat('EEEE') }}` →  \n  `{{ $now.setZone('America/Sao_Paulo').plus({days:7}).toFormat('yyyy-MM-dd') }}`\n\n- **SEQUÊNCIA:**  \n  `{{ $now.setZone('America/Sao_Paulo').plus({days:8}).toFormat('EEEE') }}` →  \n  `{{ $now.setZone('America/Sao_Paulo').plus({days:8}).toFormat('yyyy-MM-dd') }}`\n\n---\n\n## ⚖️ 5. REGRAS DE OPERAÇÃO E SEGURANÇA\n\n### 🛑 Consultas e Cálculos\n- Sempre usar a **ferramenta de calculadora**\n- Nunca calcular manualmente\n\n#### Divisão de contas\n- Se o usuário pagar “sua parte”, registrar **apenas o valor correspondente a ele**\n\n---\n\n### 🛡️ Exclusão e Lembretes\n\n#### Excluir evento\n- Nunca apagar sem data confirmada\n- Se faltar data, perguntar obrigatoriamente: **“De qual dia?”**\n\n#### Diferenciação de Tools\n- **Micro tarefas** (Remédio, Lixo, Banho, Checar algo)  \n  → `adicionar_lembrete`\n- **Compromissos / Reuniões** (Médico, Reunião, Festa, Aula)  \n  → `adicionar_evento`\n\n---\n\n## 📂 6. PROTOCOLO DE IMPORTAÇÃO (FATURAS / PDF)\n### 🔥 PRIORIDADE MÁXIMA\n\n### Fluxo Obrigatório\n1. **Leitura silenciosa** (não responder antes de agir)\n2. **Ação em loop**: chamar `registrar_transacao` para cada item\n3. **Resumo final** apenas após concluir todos os registros\n\n### Regras de Hora\n- **Faturas / Extratos:**  \n  - Sem horário → usar **12:00:00**\n- **Lembretes:**  \n  - ❌ PROIBIDO usar 12:00:00  \n  - ✅ Usar horário calculado\n\n---\n\n## 💬 7. FORMATAÇÃO WHATSAPP\n\n- **Negrito** para valores e datas (ex: **R$ 50,00**)\n- Listas para extratos ou opções\n- Sempre conciso\n\n---\n\n## PROTOCOLO MULTI-CONTAS\n\n- Quando o usuário registrar um gasto e mencionar um banco (ex: \"no Nubank\"), use a tool listar_entidades primeiro para encontrar o ID correto.\n\n- Se o usuário não mencionar o banco, pergunte: \"Em qual conta ou cartão devo registrar?\".\n\n- Para gastos em Cartão de Crédito, o status da transação deve ser sempre 'paid' (já que consumiu o limite), mas o bot deve tratar como saída do limite, não do saldo em conta.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3584,
        48
      ],
      "id": "81e12bc6-cc48-4a43-b6ed-58f61c60754a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "text",
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2880,
        272
      ],
      "id": "b332b678-a303-46a2-9a2e-ffcd10ae739e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "81pLBecG9qxYeq1L",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "sessionTTL": 604800,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        3008,
        272
      ],
      "id": "a94e0752-0fb1-45c7-b5b5-6cdf81484cc1",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "9NqJ9sRCdOgovjrY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        3136,
        272
      ],
      "id": "79c903c9-268c-4d00-bf61-185563ca4dc4",
      "name": "Calculator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb503050-bc03-4c0f-a201-73ec59a769cb",
              "name": "session_id",
              "value": "={{ $item(\"0\").$node[\"SplitNumero\"].json[\"resposta\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        32
      ],
      "id": "64be5726-305b-44de-845f-a1f7e08e1ad9",
      "name": "session"
    },
    {
      "parameters": {
        "description": "Registra movimentações financeiras passadas (pagas) ou futuras (agendamentos).\nREGRAS OBRIGATÓRIAS:\n1. No campo 'tipo', use APENAS 'expense' (para gastos/saídas) ou 'income' (para ganhos/entradas). JAMAIS envie 'despesa', 'gasto' ou português.\n2. Identifique o contexto temporal: Se já aconteceu, define status='paid'. Se é um boleto ou previsão futura, defina status='pending'.\n3. Se for futuro, extraia a data de vencimento exata para o campo 'data_transacao'.",
        "workflowId": {
          "__rl": true,
          "value": "3q8xFpIZXcbpDNDA",
          "mode": "list",
          "cachedResultUrl": "/workflow/3q8xFpIZXcbpDNDA",
          "cachedResultName": "Tool - Registrar Transacao"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('SplitNumero').item.json.resposta }}",
            "valor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valor', `O valor numérico da transação (ex: 50.00).`, 'number') }}",
            "recorrente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('recorrente', `True se for mensal/fixo, False se for único.`, 'boolean') }}",
            "data_transacao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_transacao', `Data do vencimento ou pagamento (YYYY-MM-DD HH:mm:ss).`, 'string') }}",
            "categoria": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', `Categoria do gasto (Alimentação, Transporte, etc).`, 'string') }}",
            "descricao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descricao', `Descrição breve do que é.`, 'string') }}",
            "tipo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo', `OBRIGATÓRIO: Apenas 'expense' ou 'income'.`, 'string') }}",
            "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', `'paid' para pago/hoje, 'pending' para futuro/agendado.`, 'string') }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "recorrente",
              "displayName": "recorrente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "data_transacao",
              "displayName": "data_transacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3232,
        320
      ],
      "id": "081ffb0e-88c6-4961-9b2c-08aa49db1816",
      "name": "registrar_transacao"
    },
    {
      "parameters": {
        "description": "Busca o histórico de transações, extrato ou últimas movimentações do usuário. Permite filtrar por período.",
        "workflowId": {
          "__rl": true,
          "value": "OKSvX0lrRQekP7nD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OKSvX0lrRQekP7nD",
          "cachedResultName": "Tool - Consultar Extrato"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "limite": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('limite', `Quantidade máxima de registros para retornar. Padrão: 10.`, 'number') }}",
            "telefone": "={{ $('SplitNumero').item.json.resposta }}",
            "data_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_inicio', `Data inicial para filtro (YYYY-MM-DD). Se o usuário disser 'essa semana', calcule a data de segunda-feira.`, 'string') }}",
            "data_fim": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_fim', `Data final para filtro (YYYY-MM-DD). Geralmente é hoje.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_inicio",
              "displayName": "data_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_fim",
              "displayName": "data_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "limite",
              "displayName": "limite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3376,
        384
      ],
      "id": "3383fb24-9703-437d-8eb2-ca48b0dbd72e",
      "name": "consultar_extrato"
    },
    {
      "parameters": {
        "description": "Gera um relatório consolidado de despesas agrupadas por categorias para um período determinado. Retorna o valor total gasto em cada categoria, a quantidade de transações e a porcentagem de representatividade que cada uma tem no gasto total do período. Use esta ferramenta quando o usuário pedir resumos mensais, gráficos de gastos, ou quiser saber onde está gastando mais dinheiro (ex: 'Quanto gastei em cada categoria em Janeiro?')",
        "workflowId": {
          "__rl": true,
          "value": "7xrNX4aSvU7dLgEz",
          "mode": "list",
          "cachedResultUrl": "/workflow/7xrNX4aSvU7dLgEz",
          "cachedResultName": "Tool - Relatorio Categoria"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('SplitNumero').item.json.resposta }}",
            "data_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_inicio', `Data inicial do relatório (YYYY-MM-DD). Ex: '2026-01-01'.`, 'string') }}",
            "data_fim": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_fim', `Data final do relatório (YYYY-MM-DD).`, 'string') }}",
            "tipo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo', `Se o usuário pedir 'gastos' use expense. Se pedir 'ganhos' use income.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_inicio",
              "displayName": "data_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_fim",
              "displayName": "data_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3504,
        448
      ],
      "id": "41296ebb-64d3-400e-ac06-ad463a53f6de",
      "name": "relatorio_categoria"
    },
    {
      "parameters": {
        "description": "Define, cria ou atualiza uma meta de gastos (orçamento/budget) mensal para uma categoria específica.\nUse SEMPRE que o usuário expressar intenção de limite, como: 'quero gastar no máximo X', 'definir meta', 'limite mensal' ou 'orçamento para categoria Y'.",
        "workflowId": {
          "__rl": true,
          "value": "2FZTtEE5WnFEdTjp",
          "mode": "list",
          "cachedResultUrl": "/workflow/2FZTtEE5WnFEdTjp",
          "cachedResultName": "Tool - Definir Meta"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "categoria": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', `A categoria da meta (ex: Alimentação, Transporte, Lazer).`, 'string') }}",
            "valor_limite": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valor_limite', `O valor máximo mensal para essa categoria.`, 'string') }}",
            "telefone": "={{ $('SplitNumero').item.json.resposta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "valor_limite",
              "displayName": "valor_limite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3632,
        480
      ],
      "id": "f1ecb6b6-03b2-4a2b-af07-3734727299fa",
      "name": "definir_meta"
    },
    {
      "parameters": {
        "description": "Consulta o status atual das metas de gastos.\nRetorna o valor do limite, quanto já foi gasto no mês atual, a porcentagem consumida e o valor restante disponível.\nUse quando o usuário perguntar: 'como está minha meta', 'estou estourando o orçamento?', 'quanto ainda posso gastar em X?' ou 'visão geral das metas'.",
        "workflowId": {
          "__rl": true,
          "value": "0BLjHDOoUA5jaUlW",
          "mode": "list",
          "cachedResultUrl": "/workflow/0BLjHDOoUA5jaUlW",
          "cachedResultName": "Tool - Consultar Progresso Meta"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "categoria": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', `A categoria específica para consultar. Se o usuário quiser ver TODAS as metas, envie null ou vazio.`, 'string') }}",
            "telefone": "={{ $('SplitNumero').item.json.resposta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3760,
        512
      ],
      "id": "63ec69d1-4722-4f14-b233-b88ff2815642",
      "name": "consultar_progresso_meta"
    },
    {
      "parameters": {
        "description": "Edita ou corrige uma transação anterior. Use quando o usuário disser 'errei o valor', 'muda a categoria do Uber' ou 'alterar data'. Identifique o item pelo nome que o usuário der.",
        "workflowId": {
          "__rl": true,
          "value": "zNMRbahP5YVSYdxr",
          "mode": "list",
          "cachedResultUrl": "/workflow/zNMRbahP5YVSYdxr",
          "cachedResultName": "Tool - editar transacao"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "novo_valor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('novo_valor', ``, 'number') }}",
            "telefone": "={{ $('SplitNumero').item.json.resposta }}",
            "termo_busca": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('termo_busca', ``, 'string') }}",
            "nova_categoria": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nova_categoria', ``, 'string') }}",
            "nova_data": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nova_data', ``, 'string') }}",
            "nova_descricao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nova_descricao', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "termo_busca",
              "displayName": "termo_busca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "novo_valor",
              "displayName": "novo_valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "nova_categoria",
              "displayName": "nova_categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nova_data",
              "displayName": "nova_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nova_descricao",
              "displayName": "nova_descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3904,
        544
      ],
      "id": "5bb49c84-8c71-489d-8e43-677cccd333a0",
      "name": "editar_transacao"
    },
    {
      "parameters": {
        "description": "Remove/Exclui uma transação. Use quando o usuário pedir para apagar, deletar, desfazer ou remover um registro incorreto.",
        "workflowId": {
          "__rl": true,
          "value": "SNcTpEmUZzh1IwUZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/SNcTpEmUZzh1IwUZ",
          "cachedResultName": "Tool excluir transacao"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('SplitNumero').item.json.resposta }}",
            "termo_busca": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('termo_busca', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "termo_busca",
              "displayName": "termo_busca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4032,
        576
      ],
      "id": "0fd7125f-4e62-4dfa-9758-a8eec0b4bd1d",
      "name": "excluir_transacao"
    },
    {
      "parameters": {
        "description": "Compara os gastos do mês atual com o mês anterior. Use para insights de tendência.",
        "workflowId": {
          "__rl": true,
          "value": "QyzDDJXmQHu4OecV",
          "mode": "list",
          "cachedResultUrl": "/workflow/QyzDDJXmQHu4OecV",
          "cachedResultName": "Tool - Analise Comparativa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('SplitNumero').item.json.resposta }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4176,
        592
      ],
      "id": "12e96084-df76-44ab-8a2f-c2c2ba1ad7af",
      "name": "analise_comparativa"
    },
    {
      "parameters": {
        "description": "Lista contas a pagar e agendamentos futuros (pendentes). Use para 'previsão', 'o que vence semana que vem' ou 'contas futuras'.",
        "workflowId": {
          "__rl": true,
          "value": "71sCdbq0be5U7Y5O",
          "mode": "list",
          "cachedResultUrl": "/workflow/71sCdbq0be5U7Y5O",
          "cachedResultName": "Tool - Previsao Fatura"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('SplitNumero').item.json.resposta }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4320,
        672
      ],
      "id": "e5dbf2a3-d537-4017-9600-58c9ba798778",
      "name": "previsao_fatura"
    },
    {
      "parameters": {
        "description": "Agenda reuniões, lembretes ou compromissos NÃO financeiros (sem valor monetário).",
        "workflowId": {
          "__rl": true,
          "value": "fPIvOqiAsYRyZaG9",
          "mode": "list",
          "cachedResultUrl": "/workflow/fPIvOqiAsYRyZaG9",
          "cachedResultName": "Tool - Agendar Compromisso (V2 Final)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('SplitNumero').item.json.resposta }}",
            "titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}",
            "data_hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_hora', ``, 'string') }}",
            "descricao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descricao', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4464,
        704
      ],
      "id": "ed965f4e-5120-4692-bfcf-314945ff4f78",
      "name": "agendar_compromisso"
    },
    {
      "parameters": {
        "description": "Use esta ferramenta EXCLUSIVAMENTE quando o usuário mencionar uma despesa que se repete (ex: todo mês, toda semana, anualmente)",
        "workflowId": {
          "__rl": true,
          "value": "nhaRjTgcpRoFjgu7",
          "mode": "list",
          "cachedResultUrl": "/workflow/nhaRjTgcpRoFjgu7",
          "cachedResultName": "Tool - add recurring transaction"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valor', `O valor monetário da transação (ex: 50.00).`, 'string') }}",
            "descricao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descricao', `Descrição curta da despesa (ex: Netflix, Aluguel).`, 'string') }}",
            "categoria": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', `Categoria do gasto (ex: Lazer, Moradia, Alimentação).`, 'string') }}",
            "data_primeiro_vencimento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_primeiro_vencimento', `\n\nA data da primeira cobrança no formato YYYY-MM-DD. Se for hoje, use a data atual.`, 'string') }}",
            "frequencia": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('frequencia', `IMPORTANTE: A frequência da repetição. Converta o termo do usuário para inglês: 'daily' (diário), 'weekly' (semanal), 'monthly' (mensal) ou 'yearly' (anual).`, 'string') }}",
            "telefone": "={{ $('SplitNumero').item.json.resposta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_primeiro_vencimento",
              "displayName": "data_primeiro_vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "frequencia",
              "displayName": "frequencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4640,
        816
      ],
      "id": "9df80818-5200-4be7-80a5-4805324da167",
      "name": "adicionar_transacao_recorrente"
    },
    {
      "parameters": {
        "description": "Use esta ferramenta quando o usuário pedir para conectar, integrar ou sincronizar a agenda do Google Calendar.",
        "workflowId": {
          "__rl": true,
          "value": "vxIrANz9jiLa0fRi",
          "mode": "list",
          "cachedResultUrl": "/workflow/vxIrANz9jiLa0fRi",
          "cachedResultName": "Tool - gerar link conexao"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('SplitNumero').item.json.resposta }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4752,
        704
      ],
      "id": "d4efd966-414b-474f-ab12-16a4e31fdfff",
      "name": "gerar_link_conexao"
    },
    {
      "parameters": {
        "description": "Use para listar os compromissos e eventos do usuário em um período específico. OBRIGATÓRIO preencher data_inicio e data_fim.",
        "workflowId": {
          "__rl": true,
          "value": "gTKgwCIJaHfxUIEu",
          "mode": "list",
          "cachedResultUrl": "/workflow/gTKgwCIJaHfxUIEu",
          "cachedResultName": "Tool - Consultar Agenda"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data_fim": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_fim', `Data final da busca (YYYY-MM-DD)`, 'string') }}",
            "telefone": "={{ $('SplitNumero').item.json.resposta }}",
            "data_inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_inicio', `Data inicial da busca (YYYY-MM-DD)`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data_inicio",
              "displayName": "data_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_fim",
              "displayName": "data_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4896,
        752
      ],
      "id": "a6b25914-a705-460a-953a-14de0831e53f",
      "name": "consultar_agenda"
    },
    {
      "parameters": {
        "description": "Use para cancelar ou apagar um compromisso agendado. Requer o nome do evento e a data exata.",
        "workflowId": {
          "__rl": true,
          "value": "Reb9JkuG6MMf0HZU",
          "mode": "list",
          "cachedResultUrl": "/workflow/Reb9JkuG6MMf0HZU",
          "cachedResultName": "Tool - Excluir Evento (Sincronizado)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data_evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_evento', ``, 'string') }}",
            "termo_busca": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('termo_busca', ``, 'string') }}",
            "telefone": "={{ $('SplitNumero').item.json.resposta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "termo_busca",
              "displayName": "termo_busca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_evento",
              "displayName": "data_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5056,
        784
      ],
      "id": "04003763-b442-43c4-bca1-1d4bd92ccd83",
      "name": "excluir_evento"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "math1",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}",
        "convertToMp4": true
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        512,
        384
      ],
      "id": "4421b9c8-2b60-4c78-8d3a-30399a1ca94a",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "SIFKXO34kQOEH6zP",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. TENTA ENCONTRAR O BASE64 E O MIMETYPE\n// Prioridade para o formato que você mandou (Evolution V2 dentro de 'data')\nconst base64Raw = $json.data?.base64 || $json.base64 || $json.mediaData?.base64;\nconst originalMimeType = $json.data?.mimetype || $json.mimetype || $json.mediaData?.mimetype || 'image/jpeg';\nconst originalFileName = $json.data?.fileName || $json.fileName || 'imagem_whatsapp.jpeg';\n\n// 2. VERIFICAÇÃO DE SEGURANÇA\nif (base64Raw) {\n  \n  // 3. LIMPEZA (REMOVE PREFIXO SE EXISTIR)\n  // A Evolution V2 manda puro, mas a V1 mandava sujo. Esse regex resolve ambos.\n  const base64Clean = base64Raw.replace(/^data:image\\/[a-z]+;base64,/, \"\");\n\n  // 4. DETECÇÃO DE EXTENSÃO\n  let extension = 'jpg';\n  if (originalMimeType.includes('png')) extension = 'png';\n  if (originalMimeType.includes('webp')) extension = 'webp';\n  if (originalMimeType.includes('gif')) extension = 'gif';\n\n  // 5. CRIAÇÃO DO BINÁRIO PARA O N8N\n  return {\n    json: {\n      ...$json // Mantém os dados originais (telefone, nome) para os próximos nós\n    },\n    binary: {\n      data: {\n        data: base64Clean,\n        mimeType: originalMimeType,\n        fileName: originalFileName,\n        fileExtension: extension,\n        fileType: 'image'\n      }\n    }\n  };\n} else {\n  // Se não tiver imagem, passa reto sem quebrar o fluxo\n  return { json: $json };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        384
      ],
      "id": "f2a13ddc-2068-444d-ab8a-727b67041939",
      "name": "Code1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analise esta imagem com atenção.\n\nSe for um comprovante de pagamento, nota fiscal ou boleto, extraia:\n- Valor Total\n- Data\n- Nome do Estabelecimento/Beneficiário\n- Descrição breve do que é.\n\nSe for uma foto genérica, apenas descreva o que você vê.",
        "inputType": "base64",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        848,
        368
      ],
      "id": "d9991448-b594-4baf-9b4a-e549b7ff28b1",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "81pLBecG9qxYeq1L",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Função auxiliar para pegar o dado apenas se o nó tiver sido executado\nconst getOutput = (nodeName) => {\n  try {\n    // Tentamos acessar o output do nó\n    const node = $(nodeName);\n    if (node && node.first()) {\n      return node.first().json;\n    }\n  } catch (e) {\n    // Se o nó não foi executado, o n8n joga erro. Capturamos e retornamos vazio.\n    return {};\n  }\n  return {};\n};\n\n// 1. Buscamos os dados de forma segura\nconst webhookData = $( 'Webhook' ).item.json.body?.data?.message?.conversation || \"\";\nconst audioData = getOutput('OpenAI1')?.text || \"\";\nconst imageData = getOutput('OpenAI')?.choices?.[0]?.message?.content || \"\";\nconst pdfData = getOutput('Extract from File')?.text || \"\";\n\n// 2. Unificamos o que foi encontrado\nconst textoUnificado = `${webhookData}${audioData}${imageData}${pdfData}`.trim();\n\nreturn {\n  texto_unificado: textoUnificado\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        96
      ],
      "id": "b5f25108-da32-4036-99eb-1c2c6c4aa5d5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "math1",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}",
        "convertToMp4": true
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        512,
        608
      ],
      "id": "cf61dbb2-6f02-475a-9cc9-ceb42f8b878e",
      "name": "Evolution API2",
      "credentials": {
        "evolutionApi": {
          "id": "SIFKXO34kQOEH6zP",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. TENTA ENCONTRAR O BASE64 E O MIMETYPE\n// Prioridade para o formato que você mandou (Evolution V2 dentro de 'data')\nconst base64Raw = $json.data?.base64 || $json.base64 || $json.mediaData?.base64;\nconst originalMimeType = $json.data?.mimetype || $json.mimetype || $json.mediaData?.mimetype || 'image/jpeg';\nconst originalFileName = $json.data?.fileName || $json.fileName || 'imagem_whatsapp.jpeg';\n\n// 2. VERIFICAÇÃO DE SEGURANÇA\nif (base64Raw) {\n  \n  // 3. LIMPEZA (REMOVE PREFIXO SE EXISTIR)\n  // A Evolution V2 manda puro, mas a V1 mandava sujo. Esse regex resolve ambos.\n  const base64Clean = base64Raw.replace(/^data:image\\/[a-z]+;base64,/, \"\");\n\n  // 4. DETECÇÃO DE EXTENSÃO\n  let extension = 'jpg';\n  if (originalMimeType.includes('png')) extension = 'png';\n  if (originalMimeType.includes('webp')) extension = 'webp';\n  if (originalMimeType.includes('gif')) extension = 'gif';\n\n  // 5. CRIAÇÃO DO BINÁRIO PARA O N8N\n  return {\n    json: {\n      ...$json // Mantém os dados originais (telefone, nome) para os próximos nós\n    },\n    binary: {\n      data: {\n        data: base64Clean,\n        mimeType: originalMimeType,\n        fileName: originalFileName,\n        fileExtension: extension,\n        fileType: 'image'\n      }\n    }\n  };\n} else {\n  // Se não tiver imagem, passa reto sem quebrar o fluxo\n  return { json: $json };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        608
      ],
      "id": "99068ef0-8d3b-4259-88f3-8b5c4d262d85",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        832,
        608
      ],
      "id": "d75ce903-ec4f-48eb-8c79-caecec248851",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "id": "8181f461-0173-4086-8dc1-52564bdbaa4e",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        656,
        1344
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-nome",
              "name": "nome",
              "value": "Isadora",
              "type": "string"
            },
            {
              "id": "assign-telefone",
              "name": "telefone",
              "value": "557999431920",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0bd7b28b-520d-41cf-aefc-ddf73b32602e",
      "name": "Dados da Julia",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        1344
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO accounts (name, plan_type, status) \nVALUES (CONCAT('Carteira de ', '{{ $json.nome }}'), 'individual', 'active');"
      },
      "id": "1ab6a413-b45e-4420-bcbf-5a37cb59e02e",
      "name": "Criar Conta",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1040,
        1344
      ],
      "credentials": {
        "mySql": {
          "id": "22FBBvkayrnkonK1",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO users (account_id, phone_number, name, role, status)\nVALUES (\n  {{ $json.insertId }}, \n  '{{ $node[\"Dados da Julia\"].json.telefone }}', \n  '{{ $node[\"Dados da Julia\"].json.nome }}', \n  'admin', \n  'active'\n);"
      },
      "id": "89f53f25-ef74-4872-8d74-039a5c2cdd95",
      "name": "Criar Usuário",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1264,
        1344
      ],
      "credentials": {
        "mySql": {
          "id": "22FBBvkayrnkonK1",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sua-evo.com/message/sendText/sua-instancia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $node[\\\"Dados da Julia\\\"].json.telefone }}\",\n  \"text\": \"Fala, {{ $node[\\\"Dados da Julia\\\"].json.nome }}! Beleza?\\n\\nCara, estou desenvolvendo um assistente pessoal inteligente via WhatsApp e te adicionei como um dos testadores exclusivos! 🚀\\n\\n*Primeiro, adicione nos contatos o número: 55 79 9106-8272.*\\n\\nO que você pode fazer com ele:\\n✅ Finanças sem esforço: Mande áudio ou texto.\\n✅ Leitura de Boletos: Mande PDFs ou fotos de recibos.\\n✅ Agenda Inteligente: Marque reuniões falando naturalmente.\\n\\n🔗 *Como conectar sua Agenda do Google:*\\n1. Digite \\\"Conectar agenda\\\".\\n2. Siga o link e autorize (Clique em 'Avançado' se aparecer o aviso de app não verificado).\\n\\nDá uma testada aí e me fala o que achou! 🛠️\",\n  \"delay\": 1200,\n  \"linkPreview\": true\n}",
        "options": {}
      },
      "id": "f6a954f8-f0e2-4ab7-af28-348333978a51",
      "name": "Enviar Boas-vindas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1456,
        1488
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "math1",
        "remoteJid": "={{ $('Dados da Julia').item.json.telefone }}",
        "messageText": "=E aí, {{ $('Dados da Julia').item.json.nome }}! Te cadastrei como testador do Torrinco, meu assistente de IA para WhatsApp.\n\nO que ele faz por você:\n💰 Gestão Financeira: Mande áudios ou fotos de comprovantes e ele organiza seus gastos.\n📅 Agenda Inteligente: Fala naturalmente com ele para marcar reuniões ou tarefas.\n☀️ Morning Call: Todo dia às 8h você recebe seu resumo financeiro e de agenda.\n\nPrimeiro passo: Digite \"Conectar agenda\" aqui no chat e siga o link para sincronizar seu Google Calendar com ele.\n\nDá uma brincada com ele aí e me diz o que achou! 🚀\n\n\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1440,
        1344
      ],
      "id": "0a3a2dda-0a4b-4ba4-bfeb-36c2bbe86977",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "SIFKXO34kQOEH6zP",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use esta ferramenta quando você identificar uma lista de compras ou fatura no texto enviado pelo usuário. Em vez de registrar um por um, envie o texto completo para cá.",
        "workflowId": {
          "__rl": true,
          "value": "888kBksiPP5L79ZA",
          "mode": "list",
          "cachedResultUrl": "/workflow/888kBksiPP5L79ZA",
          "cachedResultName": "Tool - Importar Fatura (Versão AI)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('SplitNumero').item.json.resposta }}",
            "texto_fatura": "={{ $item(\"0\").$node[\"Juntar Mensagens\"].json[\"texto_completo\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "texto_fatura",
              "displayName": "texto_fatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5248,
        816
      ],
      "id": "f2f039da-c6d8-4ca8-ae79-c6d93e032ebd",
      "name": "importar_fatura_pdf"
    },
    {
      "parameters": {
        "description": "Use esta ferramenta para alterar, corrigir ou atualizar um compromisso agendado. Você deve identificar qual evento o usuário quer mudar através de um termo de busca (ex: 'dentista', 'reunião') e informar a data original dele. Caso o usuário não informe o que deseja mudar, pergunte os novos dados (novo título, nova data/hora ou nova descrição).",
        "workflowId": {
          "__rl": true,
          "value": "ElDc4yA2fEv8pCF6",
          "mode": "list",
          "cachedResultUrl": "/workflow/ElDc4yA2fEv8pCF6",
          "cachedResultName": "Tool - Editar Evento (Google First)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "termo_busca": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('termo_busca', ``, 'string') }}",
            "data_evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_evento', ``, 'string') }}",
            "novo_titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('novo_titulo', ``, 'string') }}",
            "nova_data_hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nova_data_hora', ``, 'string') }}",
            "nova_descricao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nova_descricao', ``, 'string') }}",
            "telefone": "={{ $('SplitNumero').item.json.resposta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "termo_busca",
              "displayName": "termo_busca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_evento",
              "displayName": "data_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "novo_titulo",
              "displayName": "novo_titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nova_data_hora",
              "displayName": "nova_data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nova_descricao",
              "displayName": "nova_descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5696,
        784
      ],
      "id": "6f33a4b4-714e-4f92-a895-40e9dea3e09b",
      "name": "editar_evento"
    },
    {
      "parameters": {
        "description": "=Use esta ferramenta para lembretes rápidos de tarefas ou rotinas (ex: tomar remédio, lixo, beber água). Não use para reuniões ou compromissos de agenda. Requer conteudo e horario.\n\nsempre leve em consideração somente a data e hora de agora:\n\n- **HORÁRIO REAL AGORA:**  \n  `{{ $now.setZone('America/Sao_Paulo').toFormat('HH:mm:ss') }}`\n\n- **DATA DE HOJE:**  \n  `{{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-MM-dd') }}`  \n  (`{{ $now.setZone('America/Sao_Paulo').toFormat('EEEE') }}`)\n",
        "workflowId": {
          "__rl": true,
          "value": "8PcznxYJDXnQg07p",
          "mode": "list",
          "cachedResultUrl": "/workflow/8PcznxYJDXnQg07p",
          "cachedResultName": "Tool - Adicionar Lembrete"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "conteudo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conteudo', ``, 'string') }}",
            "horario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('horario', ``, 'string') }}",
            "frequencia": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('frequencia', ``, 'string') }}",
            "data_especifica": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_especifica', ``, 'string') }}",
            "dia_semana": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dia_semana', ``, 'string') }}",
            "telefone": "={{ $('SplitNumero').item.json.resposta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "conteudo",
              "displayName": "conteudo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "horario",
              "displayName": "horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "frequencia",
              "displayName": "frequencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_especifica",
              "displayName": "data_especifica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dia_semana",
              "displayName": "dia_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5424,
        848
      ],
      "id": "b9c09bd7-0703-44ea-87c2-8c7c73a33be6",
      "name": "adicionar_lembrete"
    },
    {
      "parameters": {
        "description": "Use para cadastrar um nov o banco ou cartão de crédito do usuário. Requer nome, tipo ('bank' ou 'credit_card') e o valor inicial (saldo para bancos ou limite para cartões).",
        "workflowId": {
          "__rl": true,
          "value": "yNmhpkMOnWN6MuVc",
          "mode": "list",
          "cachedResultUrl": "/workflow/yNmhpkMOnWN6MuVc",
          "cachedResultName": "Tool - Adicionar Entidade"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
            "tipo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo', ``, 'string') }}",
            "saldo_ou_limite": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('saldo_ou_limite', ``, 'string') }}",
            "dia_fechamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dia_fechamento', ``, 'string') }}",
            "telefone": "={{ $('SplitNumero').item.json.resposta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "saldo_ou_limite",
              "displayName": "saldo_ou_limite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dia_fechamento",
              "displayName": "dia_fechamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        6304,
        400
      ],
      "id": "be202551-e0ed-47c4-b066-bfabc62f8ee7",
      "name": "adicionar_entidade"
    },
    {
      "parameters": {
        "description": "Use para listar os bancos e cartões que o usuário possui. Chame sempre que o usuário mencionar um banco que você ainda não conhece ou quando ele pedir um resumo de saldos.",
        "workflowId": {
          "__rl": true,
          "value": "LdQzRh1p3QUPFlOv",
          "mode": "list",
          "cachedResultUrl": "/workflow/LdQzRh1p3QUPFlOv",
          "cachedResultName": "Tool - Listar Entidades"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('SplitNumero').item.json.resposta }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        6496,
        336
      ],
      "id": "65a73708-a501-43b1-9c8b-a4010e2cfada",
      "name": "listar_entidades"
    },
    {
      "parameters": {
        "description": "Use para alterar dados de uma conta ou cartão de crédito já existente (ex: mudar limite, dia de vencimento ou saldo). Requer o nome da entidade e o campo que será alterado.",
        "workflowId": {
          "__rl": true,
          "value": "NOPrxShAEvy4QfAk",
          "mode": "list",
          "cachedResultUrl": "/workflow/NOPrxShAEvy4QfAk",
          "cachedResultName": "Tool - Editar Entidade"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nome_entidade": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_entidade', ``, 'string') }}",
            "novo_limite": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('novo_limite', ``, 'string') }}",
            "novo_fechamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('novo_fechamento', ``, 'string') }}",
            "novo_vencimento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('novo_vencimento', ``, 'string') }}",
            "telefone": "={{ $('SplitNumero').item.json.resposta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome_entidade",
              "displayName": "nome_entidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "novo_limite",
              "displayName": "novo_limite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "novo_fechamento",
              "displayName": "novo_fechamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "novo_vencimento",
              "displayName": "novo_vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        6784,
        272
      ],
      "id": "dcdbdf7f-d3dd-4121-a6a7-44b70dc47e5b",
      "name": "editar_entidade"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SplitNumero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input type": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evolution API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitNumero": {
      "main": [
        [
          {
            "node": "Porteiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Ler Lista (LRANGE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemWebhook": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Porteiro": {
      "main": [
        [
          {
            "node": "Input type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar Mensagens": {
      "main": [
        [
          {
            "node": "ListaVazia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Juntar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaVazia": {
      "main": [
        [
          {
            "node": "session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Lista (LRANGE)": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "session": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registrar_transacao": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_extrato": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "relatorio_categoria": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "definir_meta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_progresso_meta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "editar_transacao": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "excluir_transacao": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "analise_comparativa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "previsao_fatura": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agendar_compromisso": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "adicionar_transacao_recorrente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gerar_link_conexao": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_agenda": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "excluir_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "MensagemWebhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Dados da Julia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados da Julia": {
      "main": [
        [
          {
            "node": "Criar Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Conta": {
      "main": [
        [
          {
            "node": "Criar Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Usuário": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Boas-vindas": {
      "main": [
        []
      ]
    },
    "importar_fatura_pdf": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "editar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "adicionar_lembrete": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "adicionar_entidade": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "listar_entidades": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "editar_entidade": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "28f769b7-1d3f-46d5-bd53-9047863fe5fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "adbcc6273ba2726b09452810d1d364dab535b1c75653b7fcae729e768cc183d6"
  },
  "id": "cP6Re5g7QtepmZPsrMkYB",
  "tags": []
}