docs/Tool - Registrar Compra Parcelada API.json
{
  "name": "Tool - Registrar Compra Parcelada API",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const { telefone, descricao, valor, num_parcelas, data_compra, categoria, cartao_id } = $input.json();\n\nif (!valor || isNaN(valor) || valor <= 0) {\n  throw new Error('Valor inválido. Deve ser um número positivo.');\n}\n\nif (!num_parcelas || isNaN(num_parcelas) || num_parcelas < 2) {\n  throw new Error('Número de parcelas inválido. Deve ser pelo menos 2.');\n}\n\nif (!descricao || descricao.trim() === '') {\n  throw new Error('Descrição é obrigatória.');\n}\n\nif (!cartao_id || cartao_id.trim() === '') {\n  throw new Error('Cartão de crédito é obrigatório para compras parceladas.');\n}\n\nconst categoriasMap = {\n  'alimentação': 1,\n  'alimentacao': 1,\n  'transporte': 2,\n  'moradia': 3,\n  'lazer': 4,\n  'saúde': 5,\n  'saude': 5,\n  'educação': 6,\n  'educacao': 6,\n  'outros': 7\n};\n\nconst category_id = categoria ? categoriasMap[categoria?.toLowerCase()] || 7 : null;\n\nconst dataFinal = data_compra || new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    telefone,\n    descricao: descricao.trim(),\n    valor: parseFloat(valor),\n    installment_count: parseInt(num_parcelas),\n    start_date: dataFinal,\n    category_id,\n    entity_id: parseInt(cartao_id)\n  }\n}];"
      },
      "id": "validar-input",
      "name": "Validar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apitorrinco.forjacorp.com/api/auth/login",
        "sendBody": true,
        "contentType": "application/json",
        "body": {
          "type": "json",
          "json": "={{ JSON.stringify({ phone_number: $('Validar Input').item.json.telefone, password: 'SENHA_DO_USUARIO' }) }}"
        },
        "options": {}
      },
      "id": "login-api",
      "name": "Login API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apitorrinco.forjacorp.com/api/installments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "application/json",
        "body": {
          "type": "json",
          "json": "={{ JSON.stringify({\n  entity_id: $('Validar Input').item.json.entity_id,\n  description: $('Validar Input').item.json.descricao,\n  amount: $('Validar Input').item.json.valor,\n  installment_count: $('Validar Input').item.json.installment_count,\n  start_date: $('Validar Input').item.json.start_date,\n  category_id: $('Validar Input').item.json.category_id\n}) }}"
        },
        "options": {}
      },
      "id": "criar-parcelas",
      "name": "Criar Parcelas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.json();\n\nif (response.purchase && response.transactions) {\n  const purchase = response.purchase;\n  const transactions = response.transactions;\n  const formatCurrency = (value) => \n    new Intl.NumberFormat('pt-BR', {\n      style: 'currency',\n      currency: 'BRL'\n    }).format(value);\n\n  const valorParcela = formatCurrency(purchase.installment_value);\n  const valorTotal = formatCurrency(purchase.amount);\n  const primeiraParcela = transactions[0];\n  const ultimaParcela = transactions[transactions.length - 1];\n\n  return [{\n    json: {\n      success: true,\n      message: `💳 Compra parcelada registrada!\\n\\n` +\n            `Descrição: ${purchase.description}\\n` +\n            `Valor total: ${valorTotal}\\n` +\n            `Número de parcelas: ${purchase.installment_count}\\n` +\n            `Valor por parcela: ${valorParcela}\\n` +\n            `Primeira parcela: ${primeiraParcela.transaction_date.split('T')[0]}\\n` +\n            `Última parcela: ${ultimaParcela.transaction_date.split('T')[0]}`,\n      purchase_id: purchase.id,\n      purchase: purchase,\n      transactions: transactions\n    }\n  }];\n} else {\n  return [{\n    json: {\n      success: false,\n      message: response.message || 'Erro ao registrar compra parcelada',\n      error: response.error\n    }\n  }];\n}"
      },
      "id": "formatar-resposta",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Input": {
      "main": [
        [
          {
            "node": "Login API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login API": {
      "main": [
        [
          {
            "node": "Criar Parcelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Parcelas": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "tool-registrar-compra-parcelada-api",
  "tags": []
}