docs/Tool - Consultar Resumo Financeiro.json
{
  "name": "Tool - Consultar Resumo Financeiro",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/api/auth/login",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $env.API_USER_PHONE }}"
            },
            {
              "name": "password",
              "value": "={{ $env.API_PASSWORD }}"
            }
          ]
        },
        "options": {}
      },
      "id": "login_api",
      "name": "Login API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_URL }}/api/finance/summary",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "target_user_id",
              "value": "={{ $json.target_user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get_summary",
      "name": "Obter Resumo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Torrinco API Auth (Dynamic)"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_URL }}/api/finance/forecast",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "target_user_id",
              "value": "={{ $json.target_user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get_forecast",
      "name": "Obter Previsão",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Torrinco API Auth (Dynamic)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const summary = $('Obter Resumo').item.json;\nconst forecast = $('Obter Previsão').item.json;\n\nconst formatCurrency = (value) => new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(value || 0);\n\nconst message = `📊 *Resumo Financeiro*\n\n💰 *Saldo Atual:* ${formatCurrency(summary.balance)}\n📉 *Receitas:* ${formatCurrency(summary.income)}\n📈 *Despesas:* ${formatCurrency(summary.expenses)}\n\n🔮 *Previsão Próximo Mês*\n💰 *Saldo Previsto:* ${formatCurrency(forecast.forecast?.balance)}\n📉 *Entradas:* ${formatCurrency(forecast.forecast?.income)}\n📈 *Saídas:* ${formatCurrency(forecast.forecast?.expenses)}`;\n\nreturn {\n  json: {\n    text: message,\n    summary: summary,\n    forecast: forecast\n  }\n};"
      },
      "id": "format_response",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Login API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login API": {
      "main": [
        [
          {
            "node": "Obter Resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Resumo": {
      "main": [
        [
          {
            "node": "Obter Previsão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Previsão": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}