docs/Tool - Listar Categorias.json
{
  "name": "Tool - Listar Categorias",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/api/auth/login",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $env.API_USER_PHONE }}"
            },
            {
              "name": "password",
              "value": "={{ $env.API_PASSWORD }}"
            }
          ]
        },
        "options": {}
      },
      "id": "login_api",
      "name": "Login API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_URL }}/api/categories",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get_categories",
      "name": "Obter Categorias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Torrinco API Auth (Dynamic)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const categories = $input.item.json;\n\n// Formatar lista para o agente entender\nconst formattedList = categories.map(cat => `- ${cat.name} (Tipo: ${cat.type})`).join('\\n');\n\nreturn {\n  json: {\n    text: `📂 *Categorias Disponíveis:*\n\n${formattedList}`,\n    categories: categories\n  }\n};"
      },
      "id": "format_response",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Login API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login API": {
      "main": [
        [
          {
            "node": "Obter Categorias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Categorias": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}