docs/Tool - Registrar Transacao Recorrente API.json
{
  "name": "Tool - Registrar Transacao Recorrente API",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const { telefone, descricao, valor, tipo, categoria, frequencia, data_inicio } = $input.json();\n\nif (!valor || isNaN(valor) || valor <= 0) {\n  throw new Error('Valor inválido. Deve ser um número positivo.');\n}\n\nif (!['expense', 'income'].includes(tipo)) {\n  throw new Error('Tipo deve ser \"expense\" ou \"income\".');\n}\n\nif (!descricao || descricao.trim() === '') {\n  throw new Error('Descrição é obrigatória.');\n}\n\nconst frequenciasValidas = ['daily', 'weekly', 'monthly', 'yearly'];\nconst frequenciaMap = {\n  'diaria': 'daily',\n  'diária': 'daily',\n  'semanal': 'weekly',\n  'mensal': 'monthly',\n  'anual': 'yearly',\n  'anualmente': 'yearly'\n};\n\nlet frequency = frequencia || 'monthly';\nif (!frequenciasValidas.includes(frequency)) {\n  frequency = frequenciaMap[frequency?.toLowerCase()] || 'monthly';\n}\n\nif (!frequenciasValidas.includes(frequency)) {\n  throw new Error('Frequência inválida. Use: diaria, semanal, mensal ou anual.');\n}\n\nconst categoriasMap = {\n  'alimentação': 1,\n  'alimentacao': 1,\n  'transporte': 2,\n  'moradia': 3,\n  'lazer': 4,\n  'saúde': 5,\n  'saude': 5,\n  'educação': 6,\n  'educacao': 6,\n  'outros': 7\n};\n\nconst category = categoria || null;\n\nconst dataFinal = data_inicio || new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    telefone,\n    descricao: descricao.trim(),\n    valor: parseFloat(valor),\n    tipo,\n    category,\n    frequency,\n    start_date: dataFinal\n  }\n}];"
      },
      "id": "validar-input",
      "name": "Validar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apitorrinco.forjacorp.com/api/auth/login",
        "sendBody": true,
        "contentType": "application/json",
        "body": {
          "type": "json",
          "json": "={{ JSON.stringify({ phone_number: $('Validar Input').item.json.telefone, password: 'SENHA_DO_USUARIO' }) }}"
        },
        "options": {}
      },
      "id": "login-api",
      "name": "Login API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apitorrinco.forjacorp.com/api/recurring",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "application/json",
        "body": {
          "type": "json",
          "json": "={{ JSON.stringify({\n  description: $('Validar Input').item.json.descricao,\n  amount: $('Validar Input').item.json.valor,\n  type: $('Validar Input').item.json.tipo,\n  category: $('Validar Input').item.json.category,\n  frequency: $('Validar Input').item.json.frequency,\n  start_date: $('Validar Input').item.json.start_date\n}) }}"
        },
        "options": {}
      },
      "id": "criar-recorrente",
      "name": "Criar Recorrente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.json();\n\nif (response.recurringTransaction) {\n  const rt = response.recurringTransaction;\n  const formatCurrency = (value) => \n    new Intl.NumberFormat('pt-BR', {\n      style: 'currency',\n      currency: 'BRL'\n    }).format(value);\n\n  const tipoText = rt.type === 'income' ? 'Receita' : 'Despesa';\n  const emoji = rt.type === 'income' ? '💰' : '🔄';\n\n  const frequenciaMap = {\n    'daily': 'Diariamente',\n    'weekly': 'Semanalmente',\n    'monthly': 'Mensalmente',\n    'yearly': 'Anualmente'\n  };\n\n  return [{\n    json: {\n      success: true,\n      message: `${emoji} Transação recorrente configurada!\\n\\n` +\n            `Descrição: ${rt.description}\\n` +\n            `Tipo: ${tipoText}\\n` +\n            `Valor: ${formatCurrency(rt.amount)}\\n` +\n            `Frequência: ${frequenciaMap[rt.frequency]}\\n` +\n            `Início: ${rt.start_date.split('T')[0]}\\n\\n` +\n            `Esta transação aparecerá automaticamente nas suas previsões.`,\n      recurring_transaction_id: rt.id,\n      data: rt\n    }\n  }];\n} else {\n  return [{\n    json: {\n      success: false,\n      message: response.message || 'Erro ao registrar transação recorrente',\n      error: response.error\n    }\n  }];\n}"
      },
      "id": "formatar-resposta",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Input": {
      "main": [
        [
          {
            "node": "Login API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login API": {
      "main": [
        [
          {
            "node": "Criar Recorrente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Recorrente": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "tool-registrar-transacao-recorrente-api",
  "tags": []
}